/* Fonts settings */
html, body {
     font-size: 15px;
     background-color: #fff;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

a:not(.btn) {color: #000000; }
a:hover:not(.btn) {color: #000; }

body.bg-img{
  background-image: url('https://cdn.shoplo.com/2655/s/4/assets/home.jpg?1060');
  background-repeat: no-repeat;
  background-position: center;
}

/* Navbar colors */
.nav-bar-background-color,
.nav-bar-background-color,
#mainNav ul.submenu,
header.sticky-bar.is-sticky,
.header-6 .sticky-bar.is-sticky .nav-inline,
.header-2 .sticky-bar.is-sticky {
    background: transparent;
}
#mainNav ul li a{color: #000000;}
.nav-bar-top-border, .nav-bar-bottom-border {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;}

/*Footer colors*/
footer[class^="footer-"] a, footer[class^="footer-"]{color: #2d2d2d;}
.background-footer {background: ;}

/* Logo */
#logo img.logo_img {width: 100%;}

/* Text header colors */
.text-header h3, .text-header h2 {color: ;}

/* Newsletter color */
.newsletter-text h5, .newsletter-text h6{ color: ; }
.newsletter-background {background-color: ; }

/* Product grids */
.img-opacity:hover{opacity: 0.5;}

/* Color settings */
.btn,
.product-info .product-actions .add-to-cart,
.product-7 .product-info .right-actions .add-to-cart
{background: #707070; color: #030303;}

/* Product page colors */
.product-6 .gallery-wrapper, .product-7 .gallery-wrapper { background: ;}

/* Banners colors */
.section-slider .slick-slider:not(.slick-vertical) .slick-prev:before, .section-slider .slick-slider:not(.slick-vertical) .slick-next:before {
    color: #000000;
}

/* Cart widget colors */
#cartWidgetRight, #cartWidgetTop, #cartWidgetBottom, .sliding-cart-widget .product-qty input {background-color: #fff;}
.sliding-cart-widget,.sliding-cart-widget a:not(.btn) { color: #292d2d; }

.section-slider .slick-dots li button:hover, .section-slider .slick-dots li button:focus {border-color: #000;}
.section-slider .slick-dots li.slick-active button {border-color: #000;}
.section-slider .slick-dots li button:before {background: #000;}


.section-slider .slides .slide figure figcaption p,
.section-slider .slides .slide figure .banner-text figcaption p, .section-slider figure figcaption p {color: #000;}

.section-slider .slides .slide figure .banner-text figcaption h2,
.section-slider .slides .slide figure figcaption h6 {color: #000000;}

.banner-19, .banner-20 {background: #ddd;}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
background: url(https://cdn.shoplo.com/2655/s/4/assets/default-skin.png?1060) 0 0 no-repeat;
background-size: 264px 88px;
width: 44px;
height: 44px; }

.pswp__bg {
background: #000;
}